<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GURU99BANK AUTOMATION TEST SUITE">

	<listeners>
		<listener class-name="com.guru99Bank.qa.extentReport.ExtentReporterNG" />
		<listener class-name="com.guru99Bank.qa.listners.ListenerTest" />
	</listeners>


	<test name="GURU99BANK TESTCASES">
		<classes>
			<class name="com.guru99Bank.qa.testcase.LoginPageTest"></class>
			<class name="com.guru99Bank.qa.testcase.HomePageTest"></class>
			<!-- <class name="com.crm.qa.testcases.ContactsPageTest"></class> -->

		</classes>
	</test>
</suite>